doctype 5
html
  head
    title= title
    block css
      link(rel='stylesheet', href='/stylesheets/style.css')
    block js
      script(src='http://code.jquery.com/jquery-1.9.1.min.js')
  body
    block content