extends layout
block append js
  script(src='/javascripts/speaker.js')
  script(src='/javascripts/riffwave.js')
  script(src='/javascripts/zlib.js')
    
block content
  div(data-room= room, id='room')
  h1= room